Repository Sierra-KPI/Hunter, pull requests merged in 2021-12, with the labels that each got.

#18 Collision detection
  Hunter/Assets/Scripts/Model/CollisionDetection.cs
  Hunter/Assets/Scripts/Model/Entities/Rabbit.cs
  Hunter/Assets/Scripts/View/View.cs
Labels: Model

#19 Wander-Improving
  Hunter/Assets/Scripts/Model/Behaviours/Behaviours.cs
  Hunter/Assets/Scripts/Model/Behaviours/IBehaviour.cs
  Hunter/Assets/Scripts/Model/Behaviours/WanderBehaviour.cs
  Hunter/Assets/Scripts/Model/Entities/Animal.cs
  Hunter/Assets/Scripts/Model/Entities/Deer.cs
  Hunter/Assets/Scripts/Model/Entities/Rabbit.cs
Labels: Behaviour, Model, View

#23 Object Pooling
  Hunter/Assets/Scripts/Model/Entities/AnimalType.cs
  Hunter/Assets/Scripts/Model/Entities/Herd.cs
  Hunter/Assets/Scripts/Model/Entities/Rabbit.cs
  Hunter/Assets/Scripts/Model/HunterGame/HunterGame.cs
  Hunter/Assets/Scripts/View/EntityFactory.cs
  Hunter/Assets/Scripts/View/View.cs
Labels: Model, View

#25 Main Menu
  Hunter/Assets/Scenes/MainMenu.unity
  Hunter/Assets/Scripts/View/EntityFactory.cs
  Hunter/Assets/Scripts/View/MainMenu.cs
  Hunter/Assets/Scripts/View/View.cs
  Hunter/ProjectSettings/EditorBuildSettings.asset
Labels: View

#26 Find-All-Targets-In-Area
  Hunter/Assets/Prefabs/Deer.prefab
  Hunter/Assets/Prefabs/Rabbit.prefab
  Hunter/Assets/Scripts/Model/CollisionDetection.cs
  Hunter/Assets/Scripts/Model/Entities/Animal.cs
  Hunter/Assets/Scripts/Model/Entities/Herd.cs
  Hunter/Assets/Scripts/Model/Entities/Rabbit.cs
  Hunter/Assets/Scripts/Model/HunterGame/HunterGame.cs
  Hunter/Assets/Scripts/View/AnimalGizmos.cs
  Hunter/Assets/Scripts/View/View.cs
Labels: Model, View

#27 Controller
  Hunter/Assets/Scenes/MainScene.unity
  Hunter/Assets/Scripts/Controller/Controller.cs
  Hunter/Assets/Scripts/View/MainMenu.cs
  Hunter/Assets/Scripts/View/View.asmdef
  Hunter/Assets/Scripts/View/View.cs
  Hunter/Hunter.sln
Labels: Controller

#32 Refactor controller and view
  Hunter/Assets/Scenes/MainScene.unity
  Hunter/Assets/Scripts/Controller/Controller.asmdef
  Hunter/Assets/Scripts/Controller/Controller.cs
  Hunter/Assets/Scripts/View/EntityFactory.cs
  Hunter/Assets/Scripts/View/View.asmdef
  Hunter/Assets/Scripts/View/View.cs
  Hunter/Hunter.sln
Labels: View, Controller

#34 Hunter shot
  Hunter/Assets/Scripts/Controller/Controller.cs
  Hunter/Assets/Scripts/Model/Entities/Animal.cs
  Hunter/Assets/Scripts/Model/Entities/Deer.cs
  Hunter/Assets/Scripts/Model/Entities/Herd.cs
  Hunter/Assets/Scripts/Model/Entities/Rabbit.cs
  Hunter/Assets/Scripts/Model/HunterGame/HunterGame.cs
  Hunter/Assets/Scripts/View/EntityFactory.cs
  Hunter/Assets/Scripts/View/View.cs
Labels: Model, View

#35 Borders
  Hunter/Assets/Scenes/MainScene.unity
  Hunter/Assets/Scripts/Controller/Controller.cs
  Hunter/Assets/Scripts/Model/Behaviours/AvoidBordersBehaviour.cs
  Hunter/Assets/Scripts/Model/Entities/Animal.cs
  Hunter/Assets/Scripts/Model/Entities/Deer.cs
  Hunter/Assets/Scripts/Model/Entities/Entity.cs
  Hunter/Assets/Scripts/Model/Entities/HunterPlayer.cs
  Hunter/Assets/Scripts/Model/Entities/Rabbit.cs
  Hunter/Assets/Scripts/Model/HunterGame/HunterGame.cs
  Hunter/Assets/Scripts/View/View.cs
Labels: Behaviour, Model

#33 Wolf and flee, pursue, kill behaviours
  Hunter/Assets/Prefabs/Wolf.prefab
  Hunter/Assets/Scenes/MainMenu.unity
  Hunter/Assets/Scenes/MainScene.unity
  Hunter/Assets/Scripts/Controller/Controller.asmdef
  Hunter/Assets/Scripts/Controller/Controller.cs
  Hunter/Assets/Scripts/Model/Behaviours/FleetBehaviour.cs
  Hunter/Assets/Scripts/Model/Behaviours/KillBehaviour.cs
  Hunter/Assets/Scripts/Model/Behaviours/PursueBehaviour.cs
  Hunter/Assets/Scripts/Model/Entities/AnimalType.cs
  Hunter/Assets/Scripts/Model/Entities/Deer.cs
  Hunter/Assets/Scripts/Model/Entities/Entity.cs
  Hunter/Assets/Scripts/Model/Entities/Rabbit.cs
  Hunter/Assets/Scripts/Model/Entities/Wolf.cs
  Hunter/Assets/Scripts/Model/HunterGame/HunterGame.cs
  Hunter/Assets/Scripts/View/EntityFactory.cs
  Hunter/Assets/Scripts/View/MainMenu.cs
  Hunter/Assets/Scripts/View/View.asmdef
  Hunter/Assets/Scripts/View/View.cs
Labels: Behaviour, Model
